#navbar {
	background-color:'dark-gray'; 
	border-color:transparent; 
	opacity: 0.95; 
	filter: alpha(opacity=40);
}

#brand, #nav_items a {
	color:black;
}

a > img {
	height: 25px; 
	width: 40px; 
	padding-right:5px
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	height: 100vh;
	margin: auto;
}

#bottom_scroll {
	position: absolute; 
	bottom: 0;
	width: 90vw; 
	text-align: center;
	font-size: 5.0vh;
}

#header_image {
	padding-top: 56.25%;
	background-image:url('../img/background_images/from_lake2.jpg'); 
	background-repeat:no-repeat; 
	background-position: 
	center center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	overflow: hidden;
}

#info_blurb {
	padding-right:5%; 
	padding-left:5%;
	text-align: center;
}

h1 {
	font-weight:bold; 
	font-size: 7vh; 
	padding-top: 8vh;
	text-align: center;
}

#photos {
	background-color:black;
}

h3 {
	padding: 1vh; 
	font-size: 5vh; 
	font-weight:bold;
	text-align: left;
}

#bottom_scroll p {
	color:white; 
	opacity:0.6;
}

#bottom_scroll img {
	height: 5.0vh;
}

.container-fluid {
	min-height: 100%;
}

#about_info {
	height:50%; 
	padding-top:5%; 
	padding-right:5%; 
	padding-left:5%;
	padding-bottom:2%;
}

#lake_image {
	padding-top: 56.25%; 
	background-image:url('../img/background_images/lake.jpg'); 
	background-attachment: fixed; 
	background-position: center center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	overflow: hidden;
}

#prices_info p {
	text-align:left; 
	margin-left: 2vw;
}

#prices_info ul {
	text-align: left;
}

#extra_prices {
	text-align: left; 
	list-style-position: inside;
}

#FAQ_Row {
	height:30%; 
	padding-top:5%; 
	padding-right:5%; 
	padding-left:5%;
}

#contact {
	padding-bottom: 5vh; 
	background-color: #DCDCDC;
}